body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
  }
  
  #main {
    height: 100%;
    width: 50%;
    margin: auto;
  
    margin-top: 2em;
    border: 6px solid black;
    position: relative;
    background-color: white;
  }
  
  .cert-div {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
  
  .img-div {
    width: 25%;
    height: 100%;
    align-items: center;
    padding: 1.5rem 0.5rem;
  }
  
  img {
    width: 180px;
    height: auto;
  }
  
  .text-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-right: 11rem;
  }
  
  .brg-text {
    font-size: 2.4em;
  }
  
  .text-p {
    margin: 2px 0;
    font-weight: bold;
  }
  
  .line {
    border: 1px solid black;
    margin: 1px 50px;
  }
  
  .font-text {
    text-align: center;
    padding: 2% 0;
  }
  
  .font1-text {
    padding-left: 70px;
  }
  
  .font2-text {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: justify;
    padding: 2rem 70px;
    margin: 0;
    font-size: 1em;
  }
  
  .font2-text p {
    margin: 0;
  }
  
  .text2p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .text2p p {
    text-align: start;
  }
  
  .text2p p:nth-child(1) {
    margin-left: 5rem;
  }
  
  .font3-text {
    text-align: right;
    padding-right: 80px;
  
    margin: 0;
    padding-top: 2rem;
  }
  
  .font3-text h3,
  .font3-text p {
    margin: 5px;
  }
  
  .font4-text {
    display: flex;
    text-align: justify;
    padding-left: 70px;
    font-size: medium;
    flex-direction: column;
  
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .font4-text p {
    margin: 5px;
  }
  
  .text5 {
    display: flex;
    flex-direction: row;
  }
  
  .text6 {
    display: flex;
    flex-direction: row;
  }
  
  .text7 {
    display: flex;
    flex-direction: row;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Form Styling */
  #cform {
    width: 35%;
    height: 100vh;
    margin: 2em 1em 2rem 4em;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,
      rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
  }
  
  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
  }
  
  input:focus {
    outline: none;
  }
  
  label {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
  }
  
  input:focus ~ label,
  input.used ~ label {
    top: -20px;
    transform: scale(0.75);
    left: -2px;
    color: #4a89dc;
  }
  
  /* Additional Styling */
  #cform p {
    margin-top: 10px;
    font-size: 14px;
  }
  
  #cform input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #cform button {
    background-color: #0c2d57;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #cform button:hover {
    background-color: #0c2d57;
  }
  
  .container {
    display: flex;
    flex-direction: row;
  }
  