*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-color: #0C2D57 !important;
    background-size: cover;
    background-position: center;
}
.container-div{
    display: flex;
    padding: 0;
    margin: 0;

}

.header{
    border: 2px solid white;
    position: fixed;
    width: 100%;
    height: 5rem;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: .5s;
    z-index: 1;
}
.sidebar.active{
    width: 260px;
}

.sidebar .logo-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    
}
.sidebar .logo-menu .logo{
    font-size: 25px;
    color: white;
    pointer-events: none;
    opacity: 0;
    transition: .3s;
}
.sidebar.active .logo-menu .logo{
    opacity: 1;
    transition-delay: .2s;
}
.sidebar .logo-menu .toggle-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: .5s;
}
.sidebar.active .logo-menu .toggle-btn{
    left: 90%;
}
.sidebar .nav-list{
    margin-top: 10px;
    padding: 0;
}
.nav-list .list-item{
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}
.nav-list .list-item a{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
   transition: .5s;
}
.nav-list .list-item.active a,
.nav-list .list-item a:hover{
    background: rgba(255, 255, 255,.2);
}
.nav-list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}
.sidebar.active .link-name{
opacity: 1;
pointer-events: auto;
}

div hr{
    color: #FBB040;
    background-color: #FBB040;
}
.menu nav ul div p{
    font-size: .75em;
    color: #FBB040;
}
.men-p{
    display: flex;
    justify-content: center;
    padding: 0;
}

.invi-div{
    border: 2px solid white;
    width: 80px;
    min-width: 80px;
    height: 100%;
    transition: .5s;
}
.invi-div.active{
    width: 260px;
    min-width: 260px;
}

.contents-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem 0 5rem 3rem;
    gap: 2rem;
    transition: .5s;
}
.contents-div.active{
    padding: 5rem 0 5rem 6.5rem;
}
.dashboard-content{
    border: 2px solid white;
    position: relative;
    width: 450px;
    min-width: 450px;
    height: 300px;
    top:5rem ;
    transition: .5s;
}

.dashboard-content.active{
    width: 350px ;
    min-width: 350px;
}
